/* Seletores de TAG (Geral) */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2;
    padding: 0;
    background-color: #2525c9;
    color: #241d1d;
    line-height: 1.6;
}

header {
    background-color: #4e584c33;
    padding: 1rem 0;
}

h1 {
    text-align: center;
    color: #95a4b3;
    margin-top: 20px;
}

/* Seletores de ID */
#menu-principal ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

#tabela-projetos {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    background: 
    rgb(10, 12, 12);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Seletores de CLASSE */
.titulo-principal {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.link-ativo {
    border-bottom: 2px solid #3498db;
}

.btn-link {
    text-decoration: none;
    color: #d2dfe7;
    font-weight: bold;
}

/* Estilização da Tabela */
#tabela-projetos th, #tabela-projetos td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

#tabela-projetos th {
    background-color: #171f24;
    color: rgb(146, 177, 190);
}

/* Pseudo-classes (HOVER) */
#menu-principal a {
    text-decoration: none;
    color: rgb(114, 105, 105);
    font-size: 1.1rem;
    transition: 0.3s;
}

#menu-principal a:hover {
    color: #3498db;
    transform: scale(1.1);
}

#tabela-projetos tr:hover {
    background-color: #f1f1f1;
}

.sfooter {
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}